---
layout: default
---

<div class="home">
    <div class="post-content">
        {{ site.introduction }}

        <h1 class="page-heading">Posts</h1>

        <!--{{ content }}-->

        <ul class="post-list">
            {% for post in site.posts %}
            <li>
                <h2>
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h2>
                <p class="post-summary">{{ post.summary }}</p>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!--{% if site.ads == blank %}-->
    <!--<div class="additional-content">-->
        <!--{% for ad in site.ads %}-->
        <!--<span>{{ ad.name }}</span>-->
        <!--<br/>-->
        <!--{% endfor %}-->
    <!--</div>-->
    <!--{% endif %}-->
</div>